.course-item {
  margin: 15px 10px;
  padding: 10px;
  border: 1px solid grey;
  height: 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background: #fff;
  min-height: 120px;
  cursor: pointer;
}

.course-detail {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course-subtitle {
  font-size: 12px;
  color: #b4b4b4;
}

.course-title {
  font-size: 18px;
}