.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 1px 5px 1px rgb(20 20 20 / 10%);
}

.header .header-stats .level {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0;
}

.header .header-stats .day {
  font-size: 16px;
  margin: 10px 0;
  border: 1px solid black;
  padding: 0 10px;
  border-radius: 12px;
  display: inline-block;
}

.header .header-stats .day span {
  vertical-align: middle;
}

.header .header-stats .day svg {
  vertical-align: middle;
}

.header .header-profile {
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.logo-container .logo {
  font-size: 22px;
}

.logo-container .logo-desc {
  font-size: 12px;
}


.btn-container .btn {
  border: 1px solid #5ab873;
  padding: 5px 15px;
  border-radius: 8px;
  background: #5ab873;
  color: white;
  cursor: pointer;
}
